<header class="header">
  <div class="mini-buttons">
    <a href="#unidades">
      <img src="./../../assets/img/localizacao1.svg" alt="localizacao">
      Unidades
    </a>
    <a href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades." target="_blank" >
      <img src="./../../assets/img/whatsapp1.svg" alt="whatsapp">
      Atendimento
    </a>
  </div>
  <div class="nav">
    <div class="logo" [routerLink]="['/']">
      <img src="./../../assets/img/logo.svg" alt="Logo Regeneri">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#quemsomos">quem somos ></a></li>
        <li><a href="#" [routerLink]="['/fisioterapia']" [routerLinkActive]="['active']">Fisioterapia especializada ></a></li>
        <li><a href="#" [routerLink]="['/terapia']" [routerLinkActive]="['active']">Terapia por ondas de choque ></a></li>
        <li><a href="#" [routerLink]="['/acupuntura']" [routerLinkActive]="['active']">Acupuntura ></a></li>
      </ul>
    </div>

    <div class="buttons">
      <button [routerLink]="['/especialidade']"> Medicina regenerativa e Ortopedia </button>
    </div>
  </div>
</header>

<header>
  <nav class="nav-responsivo">
      <div class="icon-hamburger">
          <img (click)="openNav()" *ngIf="!open"
          src="./../../assets/img/hamburger.svg" />
      </div>
      <div class="navbar-brand-responsivo">
        <img src="./../../assets/img/logo.svg" alt="" class="logo-responsivo" [routerLink]="['/']">
    </div>
  </nav>

  <div class="sideNav" [ngStyle]="{'display': display}">
      <div class="menuNav">
          <ul>
              <a href="" (click)="openNav()" [routerLink]="['/']" [routerLinkActive]="['active']">
                  <li> Início </li>
              </a>
              <a href="" (click)="openNav()" [routerLink]="['/fisioterapia']" [routerLinkActive]="['active']">
                  <li> Fisioterapia Especializada </li>
              </a>
              <a href="" (click)="openNav()" [routerLink]="['/terapia']" [routerLinkActive]="['active']">
                  <li> Terapia por ondas de Choque </li>
              </a>
              <a href="" (click)="openNav()" [routerLink]="['/acupuntura']" [routerLinkActive]="['active']">
                <li> Acupuntura </li>
            </a>
            <a href="" (click)="openNav()" [routerLink]="['/especialidade']" [routerLinkActive]="['active']">
              <li> Medicina regenerativa e Ortopedia </li>
          </a>
          </ul>
      </div>

      <div class="close">
          <img (click)="openNav()" *ngIf="open"
      src="./../../assets/img/close.png"/>
      </div>

  </div>
</header>
