@import './../../styles.scss';

.footer {
  background-color: $orange;
  color: $text-white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.content {
  display: flex;
}

.sociais {
  display: flex;
  margin-left: 5vw;
}

.sociais img {
  margin-left: 10px;
  width: 20px;
}

p {

}

b {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {

  .footer {
    height: 12rem;
  }

  .footer .content{
    display: block;
    padding: 50px 24px 0px 24px;
  }


  .sociais {
    align-content: center;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
  }

}
