<div class="footer">
  <div class="content">
    <p>A clínica <strong>Instituto Regeneri</strong> surge para cuidar da saúde e qualidade de vida de todos os
      pacientes.</p>
    <div class="sociais">
      <a href="https://www.instagram.com/institutoregeneri/">
        <img src="./../../assets/img/instagram2.svg" alt="instagram">
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=551129508919&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades.">
        <img src="./../../assets/img/whatsapp2.svg" alt="whatsapp">
      </a>

    </div>
  </div>
</div>