<div class="content">
    <div class="content-text">
        <h1>Encontre seu especialista aqui: </h1>

        <p>Temos especialistas no nosso corpo clinico, todos capacitados para te atender com excelência </p>

        <p style="padding-top: 20px; padding-bottom: 10px;">Especialidades: </p>

        <ul style="padding-bottom: 20px; font-family: sans-serif;">
            <p><u>Ortopedia e Traumatologia</u></p>
            <p><u>Especialista em Dor</u></p>
            <p><u>Especialista em Medicina Regenerativa</u></p>
        </ul>
        
        
        

        <p><strong> Entre outros especialistas </strong> </p>
        <p><strong> Entre em contato para saber mais </strong></p>

        <a href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades."
      target="_blank">
      <button>
        Agende agora
      </button>
    </a>
    </div>
    <div class="content-img">
        <img src="./../../assets/img/medicina.svg" alt="medicina">
    </div>
</div>

<div class="unidades" id="unidades">
    <div class="unidade">
        <h1>Unidade Santana</h1>
        <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
        <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
        <p>Santana São Paulo/SP</p>
        <p>(11) 2950-8919 </p>
        <img src="./../../assets/img/mais1.svg" alt="">
    </div>

</div>
<app-footer></app-footer>