<div class="content">
  <div class="content-text">
    <h1>Laser Acupuntura: </h1>
    <h3>Seguro, Eficaz e sem Efeito Colateral</h3>

    <p>A Acupuntura a laser é uma terapia onde os pontos são estimulados por meio de laser de baixa intensidade,
      onde conseguimos entregar os mesmos benefícios que o método original, utilizando os mesmos princípios.</p>

    <p>Devido à alta eficiência do recurso e ao receio de alguns pacientes em relação à utilização de agulhas, a
      acupuntura a laser se tornou uma ótima alternativa para quem busca pela técnica chinesa</p>

      <a href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades."
      target="_blank">
      <button>
        Agende agora
      </button>
    </a>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/acupuntura.svg" alt="acupuntura">
  </div>
</div>

<div class="quem-somos">
  <div class="quemsomos">
    <p><strong>Laser Acupuntura</strong> é indicada para tratar ansiedade, artrite, artrose, depressão,
      nevralgias, sinusites, torcicolos, dentre outras patologias.</p>

    <p>O laser é aplicado no ponto de acupuntura de forma precisa e indolor. O estímulo é realizado com
      ondas eletromagnéticas, por meio da radiação do laser vermelho visível e do laser Infravermelho.</p>

  </div>
</div>

<div class="unidades" id="unidades">
  <div class="unidade">
    <h1>Unidade Santana</h1>
    <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
    <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
    <p>Santana São Paulo/SP</p>
    <p>(11) 2950-8919 </p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>

</div>