<div class="content">
  <div class="content-text">
    <h1>Terapia por <br>Ondas de Choque</h1>
    <p>
      A Terapia por Ondas de Choque (TOC) é uma onda Acústica que transporta alta
      <br> energia para a região tratada.
    </p>
    <p>
      A energia gerada promove reparo em ossos (Fraturas – PseudoArtrose), <br>
      regeneração tecidual e diminuição do processo inflamatório em TENDINITES, <br>
      BURSITES, FASCITE PLANTAR/ESPORÃO, EPICONDILITES e etc.
    </p>
    <p>
      Utilizamos na Urologia e Andrologia para tratamento de DISFUNÇÃO ERÉTIL e <br>
      DOENÇA DE PEYRONIE, melhorando a qualidade de vida do paciente.
    </p>
    <p id="ultimo">
      <i>
        “Com todo o estresse do trabalho, da rotina, não tem tempo de tratar a sua dor, cansado de realizador <br>
        outros tratamentos sem melhora !? Nós temos uma solução para você!”
      </i>
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades."
      target="_blank">
      <button>
        Agende agora
      </button>
    </a>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/terapia.svg" alt="consulta-medica">
  </div>
</div>

<div class="quem-somos" id="quemsomos">
  <div class="content-text">
    <p>A terapia por ondas de choque é um tratamento não invasivo. A aplicação é simples e fácil.</p>

    <div class="itens">
      <div class="item">
        <img src="./../../assets/img/icons/avaliacao.png" alt="Avaliacao">
        <p>Alto índice de melhora <br> <strong>(75%) de eficiencia </strong> nos <br> casos tratados.</p>
      </div>

      <div class="item">
        <img src="./../../assets/img/icons/ondas-de-audio.png" alt="Avaliacao">
        <p><strong>3 a 5 Aplicações</strong> <br> resolvemos seu <br> problema.</p>
      </div>

      <div class="item">
        <img src="./../../assets/img/icons/pesquisa.png" alt="Avaliacao">
        <p>Método com <br> <strong>comprovação</strong> <br> científica.</p>
      </div>

    </div>

  </div>
</div>

<div class="unidades">
  <div class="unidade">
    <h1>Unidade Santana</h1>
    <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
    <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
    <p>Santana São Paulo/SP</p>
    <p>(11) 2950-8919 </p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>
</div>
