<div class="content">
  <div class="content-text">
    <h1>Programa de tratamento especializado em Fisioterapia</h1>
    <h3>Domiciliar e Unidades</h3>

    <p>Faça fisioterapia sem estresse no conforto da sua casa.</p>
    <p>Fácil e pratico! É só agendar o atendimento domiciliar.</p>

    <button>
      <a href="https://api.whatsapp.com/send?phone=551129508919&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades." target="_blank" >
        Agende agora</a>
    </button>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/fisioterapia.svg" alt="fisioterapia">
  </div>
</div>

<div class="quem-somos" id="quemsomos">
  <div class="content-text">
    <p>Nossa proposta é realizar um <strong>tratamento
      individualizado </strong>, com embasamento científico, onde
      será realizado uma avaliação detalhada feita por um
      especialista da nossa equipe.</p>

      <p>O tratamento é personalizado para você, sendo
      utilizado <strong>equipamentos modernos</strong> e protocolos com
      exercícios, terapia manual e orientações com
      referência científica.</p>

      <p>Buscando sempre o melhor tratamento para sua
      patologia.</p>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/fisio.svg" alt="fisioterapia">
  </div>
</div>

<div class="unidades" id="unidades">
  <div class="unidade">
    <h1>Unidade Santana</h1>
    <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
    <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
    <p>Santana São Paulo/SP</p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>

  <div class="unidade">
    <h1>Atendimento Domiciliar</h1>
    <p>Faça fisioterapia sem estresse no conforto da sua casa.</p>
    <p>Fácil e pratico!</p>
    <p>É só agendar o atendimento <br> domiciliar.</p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>
</div>
