/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: Roboto, 'Open Sans', sans-serif;
}

//Colors
$green-bold: #395708;
$green: #5A937C;
$green-lite: #90A996;
$orange: #E85B47;
$title: #5B5959;
$menu-text: #454444;
$text: #000000;
$text-white: #FFFFFF;
$text-lite: #FDFFFB;
