<div class="content">
  <div class="content-text">
    <h1>Seu agendamento <br>online</h1>
    <p>Faça agora mesmo seus agendamento. <br> Sua saude não pode esperar</p>

    <a href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades."
      target="_blank">
      <button>
        Agende agora
      </button>
    </a>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/consulta-medica.svg" alt="consulta-medica">
  </div>
</div>

<div class="quem-somos" id="quemsomos">
  <div class="content-text">
    <h1>Quem Somos</h1>
    <p>Buscando sempre a excelência, a clínica <strong>Instituto Regeneri</strong> reúne especialistas qualificados nas
      áreas de reabilitação,
      e com experiência para tratar nas principais patologias.</p>

    <p>A clínica <strong>Instituto Regeneri</strong> surge para cuidar da saúde e qualidade de vida de todos os
      pacientes.</p>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/fisioterapeuta-homem.svg" alt="fisioterapeuta-homem">
  </div>
</div>

<div class="unidades" id="unidades">
  <div class="unidade">
    <h1>Unidade Santana</h1>
    <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
    <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
    <p>Santana São Paulo/SP</p>
    <p>(11) 2950-8919 </p>
    <img src="./../../assets/img/mais1.svg" alt="" >
  </div>

  <div class="unidade">
    <h1>Atendimento Domiciliar e Unidades</h1>
    <p>Faça fisioterapia sem estresse no conforto da sua casa.</p>
    <p>Fácil e prático!</p>
    <p>É só agendar o atendimento <br> domiciliar.</p>
    <p> Equipamentos modernos e personalizados para você</p>
    <img src="./../../assets/img/mais1.svg" alt="" class="last-image">
  </div>
</div>

<div class="footer">
  <div class="content-footer">
    <p>Não deixe a dor controlar sua vida. Marque uma consulta em nossa 
      clínica hoje e comece a caminhar para uma vida mais saudável, mais feliz 
      e sem dor</p>
    <div class="sociais">
      <a href="https://www.instagram.com/institutoregeneri/">
        <img src="./../../assets/img/instagram2.svg" alt="instagram">
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=5511997775552&text=Ol%C3%A1,%20vim%20pelo%20site.%20Desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20as%20especialidades.">
        <img src="./../../assets/img/whatsapp2.svg" alt="whatsapp">
      </a>

    </div>
  </div>
</div>