<div class="content">
  <div class="content-text">
    <h1>Seu agendamento <br>online</h1>
    <p>Faça agora mesmo seus agendamento. <br> Sua saude não pode esperar</p>

    <button>
      Agende agora
    </button>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/consulta-medica.svg" alt="consulta-medica">
  </div>
</div>

<div class="quem-somos" id="quemsomos">
  <div class="content-text">
    <h1>Quem Somos</h1>
    <p>Buscando sempre a excelência, a clínica <strong>Instituto Regeneri</strong> reúne especialistas qualificados nas áreas de reabilitação,
      e com experiência para tratar nas principais patologias.</p>

    <p>A clínica <strong>Instituto Regeneri</strong> surge para cuidar da saúde e qualidade de vida de todos os pacientes.</p>
  </div>
  <div class="content-img">
    <img src="./../../assets/img/fisioterapeuta-homem.svg" alt="fisioterapeuta-homem">
  </div>
</div>

<div class="unidades">
  <div class="unidade">
    <h1>Unidade Santana</h1>
    <p>Entrada principal na Rua Voluntários da Pátria, 2490</p>
    <p>Entrada lateral na Rua Conselheiro Saraiva, 163</p>
    <p>Santana São Paulo/SP</p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>

  <div class="unidade">
    <h1>Atendimento Domiciliar</h1>
    <p>Faça fisioterapia sem estresse no conforto da sua casa.</p>
    <p>Fácil e pratico!</p>
    <p>É só agendar o atendimento <br> domiciliar.</p>
    <img src="./../../assets/img/mais1.svg" alt="">
  </div>
</div>
